# Copiar a .env y rellenar con las credenciales reales

# Servidor haulage-01
HAULAGE01_HOST=10.174.109.39
HAULAGE01_USER=
HAULAGE01_PASSWORD=

# Servidor dispatch-01
DISPATCH01_HOST=10.174.109.16
DISPATCH01_USER=
DISPATCH01_PASSWORD=

# Servidor dispatch-02
DISPATCH02_HOST=10.174.109.36
DISPATCH02_USER=
DISPATCH02_PASSWORD=

# Servidor sim
SIM_HOST=10.174.109.2
SIM_USER=
SIM_PASSWORD=
